@charset 'utf-8';

body{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #fff;
  background-color: #500320;
}

a:hover, a:active{
  text-decoration: none;
}

.navbar-default{
  background-color: rgba(0,0,0,.2);
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand{
  height: 128px;
  padding: 15px 0 10px;
  color: rgba(255,255,255,.8);
  font: 3.5rem/1 'Kumar One Outline', cursive;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
  color: rgba(255,255,255,.5);
  text-shadow: 0 2px 1px rgba(0,0,0,.7);
}

.navbar-brand .fas{
  font-size: 10rem;
  vertical-align: bottom;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
}

.navbar-default .navbar-nav>li>a{
  font-size: 18px;
  text-align: center;
}

.navbar-toggle{
  margin-top: 45px;
  margin-bottom: 0;
}

.menu-description{
  margin-top: 40px;
  background-color: rgba(0,0,0,.15);
}

.menu-description:last-of-type{
  margin-bottom: 40px;
}

@media (max-width: 767px){
  .container>.navbar-header{
    margin-left: 0;
  }
  article.row{
    margin-right: 10%;
    margin-left: 10%;
  }
}
